{%- assign posts = paginator.posts | default: site.posts -%}
{%- assign filtered_posts = posts | where: "exclude_from_pagination", false -%}
{% for post in filtered_posts %}
  <article>
    {% include meta.html post=post preview=true %}
    {{ post.authors }}
    <div class="button-container" style="display: flex; gap: 10px;">
      <div class="more"> <a href="{{ post.url | relative_url }}"> Read more </a> </div>
      {% if post.repository_link %}
      <div class="more"> <a href="{{ post.repository_link }}"> View Repository </a> </div>
      {% endif %}
      {% if post.paper_link %}
      <div class="more"> <a href="{{ post.paper_link }}"> View Publication </a> </div>
      {% endif %}
    </div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
  <footer>
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">« newer posts</a>
    {% else %}
    <span></span>
    {% endif %}
    <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">older posts »</a>{% else %}<span></span>{% endif %}
  </footer>
{% endif %}
